<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Patient List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let item of patientList" >
    <ion-item detail [routerLink]="['../../patient', item.resource.id]">
      <ion-label>{{item.resource.name | patientName}}</ion-label>
    </ion-item>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getNextPage($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>