<ion-card>
  <ion-card-header>
    <ion-card-title>Contact Party Information</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item-group *ngFor="let cont of contact; let contactIndex = index">
        <ion-item-divider>
          <ion-label>Contact {{contactIndex + 1}}</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-note slot="end">{{ cont.name | patientName }}</ion-note>
        </ion-item>

        <ion-item-group>
          <ion-item-divider>
            <ion-label>Relationship</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let rel of cont.relationship; let i = index">
            <ion-label>Relationship {{ i + 1 }}</ion-label>
            <ion-note slot="end">{{ rel | codeable }}</ion-note>
          </ion-item>
        </ion-item-group>

        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-note slot="end">{{ cont.gender }}</ion-note>
        </ion-item>
        <app-address [address]="[cont.address]"></app-address>
        <app-personal-contact-information [telecom]="cont.telecom"></app-personal-contact-information>

      </ion-item-group>
    </ion-list>
  </ion-card-content>
</ion-card>